<div class="row">

{% block appbundle_questionitems_label %}{% endblock %}
{% block appbundle_questionitems_errors %}{% endblock %}

{% block appbundle_questionitems_row %}
<div class="form-inline">
        {{ form_label(form.text) }}
        {{ form_errors(form.text) }}
        {{ form_widget(form.text) }}
</div>
{% endblock %}

{% block appbundle_questionitems_widget %}
    {{ form_widget(form.text) }}
{% endblock %}
</div>
