{% extends '@App/layout.html.twig' %}

{% block title %}
    Available tests
{% endblock title %}

{% block body %}
    <h1>Available tests</h1>
    <div class="row">
        {% for poll in polls %}
            <div class="col-sm-6 mt-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ poll.name }}
                        </h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas leo ut
                            neque dignissim, eu hendrerit elit aliquam.</p>
                        <div class="form-group">
                            <a href="{{ path('poll_show', { 'id': poll.id }) }}" class="btn btn-primary">Lets start</a>
                            <a href="{{ path('poll_edit', { 'id': poll.id }) }}"><i class="fas fa-edit"></i> </a>
                        </div>
                        <small>{% if poll.createdAt %}{{ poll.createdAt|date('Y-m-d') }}{% endif %}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
